{% extends "base.html"%}
{% block titulo_site %} Plataforma de Jogos {% endblock %}
{% block estilos_css %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_pagina_inicial.css') }}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
{% endblock %}

{% block titulo_header %}M0ravi Company{% endblock %}
{% block conteudo %}
    <!-- ===== Carrossel ===== -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <!-- Repetir esse bloco para cada jogo -->
            <div class="carousel-item active">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Adivinhe o Número</div>
                    <p>Neste jogo será sorteado um número e você fará tentativas para acertar ele. </p>
                    <img src="{{url_for('static',filename = 'index/game_adivinhe_img.png')}}" alt="Imagem do Jogo 1" />
                    <button data-rota = "adivinhar_numero"class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Batalha Naval</div>
                    <p>O objetivo do jogo é adivinhar em qual quadrado se encontra os navios inimigos.</p>
                 
                    <img src="{{url_for('static',filename = 'index/game_naval_img.png')}}" alt="Imagem do Jogo 2" />
                    <button class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Jogo da Forca</div>
                    <p>Deve-se descobrir a palavra secreta através do posicionamento das letras.</p>
                
                    <img src="{{url_for('static',filename = 'index/game_forca_img.png')}}" alt="Imagem do Jogo 3" />
                    <button data-rota = "forca" class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Jokenpo</div>
                    <p>Também conhecido como "Pedra, Papel e Tesoura".</p>
                    <p>É um jogo que através de gestos com as mãos determinar o vencedor.</p>
                   
                    <img src="{{url_for('static',filename = 'index/game_jokenpo_img.png')}}" alt="Imagem do Jogo 4" />
                    <button data-rota = "jokenpo"class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Quiz</div>
                    <p>Um jogo de perguntas e respostas.</p>
                    
                    <img src="caminho-da-sua-imagem5.jpg" alt="Imagem do Jogo 5" />
                    <button class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <div class="marcador">Torre de Hanoi</div>
                    <p>Criado em 1883, um quebra cabeças matemático</p>
                    <p>com o objetivo de movimentor discos de uma torre a outra.</p>
                
                    <img src="caminho-da-sua-imagem6.jpg" alt="Imagem do Jogo 6" />
                    <button id = "test-btn" class="btn btn-primary btn-jogar">Jogar</button>
                </div>
            </div>
        
        </div>

        <!-- Indicadores -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>

        <!-- Setas -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
{% endblock %}
{% block scripts %}
     <script src = "{{url_for('static',filename = 'base/scripts.js')}}" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
 
